<footer>
  <div class="fixed bottom-0 w-full bg-[#20202E] py-4 text-gray-100">
    <div class="container mx-auto px-4">
      <div class="-mx-4 flex flex-wrap justify-center md:justify-between">
        <div class="px-4 w-full text-center sm:w-auto sm:text-left flex gap-3">
          <span> Copyright © 2020 - 2025 Sellar Fitness. </span>
          <span> All Rights Reserved. </span>
        </div>
        <div
          class="px-4 w-full text-center sm:w-auto sm:text-left hidden md:block"
        >
          Made by ClotworthyJC
        </div>
      </div>
    </div>
  </div>
</footer>
